altgraph==0.17.4
attrs==25.3.0
autocommand==2.2.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chromedriver-py==135.0.7049.42
cryptography==44.0.2
h11==0.14.0
idna==3.10
oathtool==2.3.2
outcome==1.3.0.post0
packaging==24.2
path==17.1.0
pycparser==2.22
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2025.2
pyotp==2.9.0
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
selenium==4.18.1
setuptools==78.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.1
urllib3==2.3.0
webdriver-manager==4.0.1
wsproto==1.2.0
